<div class="container">
  <ng-progress></ng-progress>
  <h1>MY QUOTES</h1>
<div class="container">
  <div id="center">
    <div class="center">
        <img class="center" src="assets/images/wordquotes.jpeg"/>    
            </div>
        </div>
    </div>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let goal of goals;let i = index'>
        <div>
          <h6 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h6>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Show Details</button>
        </div>
        <div *ngIf='goal.showDescription'>
          <app-goal-detail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
        </div>
      </div>
    </div>
      <div class="col-md-6">
        <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
    </div>
     <div>
    </div>
       </div>
  <div class="row">
    <blockquote class="blockquote text-center">
      <p class="mb-0">{{quote.quote}}</p>
      <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
    </blockquote>
  </div>

 



