.images{
    height:100%; background-size:cover; width:auto;
    background-image:url('../assets/images/fire.jpeg');
    background-position:50% 50%;
  }
  * {
    font-family:  'Reggae One', cursive;
  } 
   